---
import { Image } from "astro:assets";
import logo from "../../public/img/logo.png";
import ig from "../../public/icons/instagram.svg";
import fb from "../../public/icons/facebook.svg";
import li from "../../public/icons/linkedin.svg";
import star from "../../public/icons/star.svg";
---

<footer>
  <div class="upper-footer">
    <div>
      <Image class="logo" src={logo} alt="" />
      <p></p>
    </div>
    <div>
      <h3>Pages</h3>
      <div class="line"></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/my-approach">My Approach</a></li>
        <li><a href="/organisations">Organisations</a></li>
        <li><a href="/individual-performance">Individual Performance</a></li>
      </ul>
    </div>
    <div>
      <h3>Connect</h3>
      <div class="line"></div>
      <div class="connect">
        <a href="https://www.instagram.com/stephbe.ie/" target="_blank"
          ><Image class="logo" src={ig} alt="" /></a
        >
        <a href="https://www.facebook.com/StephBe.ie" target="_blank"
          ><Image class="logo" src={fb} alt="" /></a
        >
        <a href="https://www.linkedin.com/in/stephanie-brady-7b852022/" target="_blank"
          ><Image class="logo" src={li} alt="" /></a
        >
      </div>
    </div>
  </div>
  <div class="lower-footer">
    <div>
      <p>© 2026 All rights reserved.</p>
      <div class="star-wrapper">
        <span class="star-label">For Oisín</span>
        <Image class="logo" src={star} alt="" />
        <!-- <img src="../public/icons/star.svg" alt="Star icon" /> -->
      </div>
    </div>
    <span>Website designed and managed by <a href="https://leo-crixi.com/" target="_blank">Leo Crixi</a></span>
  </div>
</footer>
