---
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';
import CTA from '../components/CTA.astro'
import '../styles/style.css';
import logo from '../../public/img/Logo3.svg'

const { metaDescription } = Astro.props;
const { metaKeywords } = Astro.props;
const { title } = Astro.props;
const { ogUrl } = Astro.props;
const { classMain } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content={metaDescription} />
    <meta name="keywords" content={metaKeywords} />
    <meta name="author" content="StephBe" />

    <!-- Open Graph / Facebook / WhatsApp / Linkedin -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:description" content={metaDescription} />

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href={logo} type="image/x-icon" />
    <!-- <link rel="shortcut icon" href="./public/img/Logo3.svg" type="image/x-icon" /> -->

    <title>{title}</title>

    <link rel="canonical" href="https://stephbe.ie/" />
    <meta name="robots" content="index, follow" />
    <meta property="og:site_name" content="StephBe" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@StephBe" />
    <meta name="twitter:title" content= {title} />
    <meta name="twitter:description" content= {metaDescription} />

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "Organization",
            "name": "StephBe",
            "url": {ogUrl},
            "logo": {logo}
            // "logo": "https://stephbe.ie/public/img/Logo3.svg"
          },
          {
            "@type": "WebSite",
            "url": {ogUrl},
            "name": "StephBe",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "https://stephbe.ie/?s={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          }
        ]
      }
    </script>
  </head>
  
  <body>
	<Header/>
    
	<main class={classMain}>
		<slot />
		<CTA/>
	</main>

	<Footer/>
    <script type="module" src="/src/scripts/script.js"></script>
  </body>
  </html>
