---
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';
import CTA from '../components/CTA.astro'
import '../styles/style.css';
import logo from '../../public/img/Logo3.svg'

// const { metaDescription } = Astro.props;
// const { metaKeywords } = Astro.props;
// const { title } = Astro.props;
// const { ogUrl } = Astro.props;
// const { classMain } = Astro.props;

interface Props {
  title: string
  metaDescription: string
  metaKeywords: string
  classMain: string
  ogUrl?: string
  image?: string
}

const {
  title,
  metaDescription,
  metaKeywords,
  classMain,
  ogUrl = Astro.url.href,
  image = 'https://rivercityyouthstrings.com/Logo3.svg',
} = Astro.props

const siteName = 'StephBe'
---

<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <meta name="author" content="StephBe" />
    <meta name="keywords" content={metaKeywords} />
    <link rel="canonical" href="https://stephbe.ie/" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook / WhatsApp / LinkedIn -->
    <meta property="og:site_name" content={siteName} />
    <meta property="og:image" content={image} />

    <!-- Open Graph / Facebook / WhatsApp / Linkedin -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />

     <!-- Twitter Card -->
    <!-- <meta name="twitter:image" content={image} /> -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content= {title} />
    <meta name="twitter:description" content= {metaDescription} />
    <meta property="og:site_name" content="StephBe" />
    <meta name="twitter:site" content="@StephBe" />

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href='/Logo3.svg' type="image/x-icon" />

 <!-- Sitemap -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />


    <!-- Structured Data / JSON-LD -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "Organization",
            "name": "StephBe",
            "url": {ogUrl},
            "logo": "https://stephbe.ie/Logo3.svg"
          },
          {
            "@type": "WebSite",
            "url": {ogUrl},
            "name": "StephBe",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "https://stephbe.ie/?s={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          }
        ]
      }
    </script>
  </head>
  
  <body>
	<Header/>
    
	<main class={classMain}>
		<slot />
		<CTA/>
	</main>

	<Footer/>
    <script type="module" src="../scripts/script.js"></script>
  </body>
  </html>
